{{ define "main" }}
{{- partial "nav.html" . -}}
{{- partial "header.html" . -}}
<div class="flex flex-wrap">
  <div class="w-full lg:w-8/12">
    <div class="py-4 px-4">
    <h2 class="text-2xl font-bold text-white text-center mb-5">Recent Post</h2>
    <div>
      {{ range ( first 5 ( where .Site.RegularPages "Section" "post" )) }}
{{ $date := .Date.Format "02 January 2006" }}
  <h3 class="text-white">{{ .Title }}</h1>
  <p class="text-white">{{ .Summary }}</p>
{{ end }}
    </div>
    </div>
  </div>
<div class="w-full lg:w-4/12 lg:h-screen lg:top-0 lg:sticky overflow-auto">
  <div class="py-4 px-4 mt-5">
    <h3 class="text-white">News :</h2>
  </div>
  <div class="py-4 px-4 mt-5">
    <h3 class="text-white">Categories :</h2>
    {{ range $kategori, $taxonomy := .Site.Taxonomies.categories }}
    <button class="my-2 py">
      <a class="bg-blue-700 rounded-lg text-base text-white hover:text-white px-2 py-1" href="/categories/{{$kategori}}">{{$kategori | humanize}} ({{ .Count }}) </a>
    </button>
    {{ end }}
  </div>
  <div class="py-4 px-4 mt-5">
    <h3 class="text-white">Tags :</h2>
    {{ range $tag, $taxonomy := .Site.Taxonomies.tags }}
    <button class="my-2 py">
      <a class="bg-blue-700 rounded-lg text-base text-white hover:text-white px-2 py-1" href="/tags/{{$tag}}">{{$tag | humanize}} ({{ .Count }}) </a>
    </button>
    {{ end }}
  </div>
  <div class="py-4 px-4 mt-5">
      <iframe src="https://discord.com/widget?id=419103091808534528&theme=dark" width="350" height="450"></iframe>
  </div>
</div>

{{ end }}
