{{ define "main" }}
{{- partial "nav.html" . -}}
  <h1 class="text-3xl text-white text-center mb-5">{{ .Title }}</h1>
<div x-data="{ 
            activeTab:1,
            activeClass: 'px-2 text-xl text-blue-500 font-bold',
            inactiveClass : 'px-2 text-xl text-white font-bold'
         }" class="mx-aut">
   <ul class="flex justify-center space-x-2 text-white">
       <li>
           <a href="#" x-on:click="activeTab = 1" :class="activeTab === 1 ? activeClass : inactiveClass">Image</a>
       </li>
       <li><p class="text-xl text-white font-bold">/</p></li>
       <li> 
           <a href="#" x-on:click="activeTab = 2" :class="activeTab === 2 ? activeClass : inactiveClass">Videos</a>
       </li>
   </ul>
   <div class="mt-6 bg-dark p-3">
       <div x-show="activeTab === 1">
          <div class="flex flex-wrap justify-center">
              {{ range $img:= .Params.Image }}
            <div class="p-2 lg:w-1/3">
              <img class="rounded-lg w-full h-full cursor-pointer hover:scale-125 transition duration-500"
              src="{{ $img }}" alt="Nightwings" />
            </div>
            {{ end }}
          </div>
       </div>
       <div x-show="activeTab === 2">
          <div class="flex flex-wrap justify-center">
              {{ range $vid:= .Params.Video }}
            <div class="p-2 lg:w-1/3">
              <iframe class="w-full" src="https://www.youtube.com/embed/{{ $vid }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            {{ end }}
          </div>
       </div>
   </div>
</div>
{{ end }}

