<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
    {{- partial "head.html" . -}}
    <body class=bg-gray-800>
        <div id="content" class="container bg-dark rounded-lg">
        {{- block "main" . }}{{- end }}
        {{- partial "footer.html" . -}}
        </div>
    </body>
</html>
