<div class="items-center justify-center px-6 py-5 mx-auto">
  <div class="items-center lg:flex">
      <div class="w-full lg:w-8/12">
          <div class="py-4 px-4">
              <h1 class="text-3xl font-bold text-white lg:text-4xl">NIGHTWINGS</h1> 
              <p class="mt-3 text-base font-semibold text-white">The Nightwings guild is a community that gathers enthusiasts of the adventures under its wings, the Nightwings guild is famous for its extravagant parties that are held every night. However, besides knowing how to have fun, the members of the guild are also known for their combat skills.<br><br>
              If you are looking for new friends, lovers of the adventures, then the Nightwings guild is the place where you will definitely find your place.
              </p>
              
              <button class="w-full px-5 py-2 mt-6 text-base font-bold tracking-wider text-white transition-colors duration-300 transform bg-blue-500 rounded-lg lg:w-auto hover:bg-dark focus:outline-none focus:bg-dark">Join Us, be Famous and Strong!</button>
          </div>
      </div>

      <div class="flex items-center justify-center w-full lg:w-4/12 mt-5">
        <img src="{{ .Site.BaseURL }}/img/nightwings.svg" alt="nightwings">
      </div>
  </div>
</div>
