<div class="my-4">
<div x-data="{ isOpen: false }" class="flex justify-between p-4 lg:p-4">
    <div class="flex items-center mx-2">
      <a href="{{ .Site.BaseURL }}">
      <img src="{{ .Site.BaseURL }}/img/nightwings_logo.svg" alt="Nightwings">
      </a>
    </div>
    <div class="flex items-center justify-between">
        <button @click="isOpen = !isOpen" type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-white lg:hidden" fill="none"
                viewBox="0 0 24 24" stroke="#1E1E2E">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M4 6h16M4 12h16M4 18h16" />
            </svg>
        </button>

        <div class="hidden mx-5 space-x-3 lg:inline-block">
          <a href="{{ .Site.BaseURL }}" class="font-bold text-base text-white">Home</a>
          <a href="{{ .Site.BaseURL }}/news" class="font-bold text-base text-white">Post</a>
          <a href="{{ .Site.BaseURL }}/post" class="font-bold text-base text-white">Members</a>
          <a href="{{ .Site.BaseURL }}/gallery" class="font-bold text-base text-white">Gallery</a>
        </div>

        <div class="fixed left-0 w-full h-48 p-5 bg-white rounded-lg shadow-xl top-20" x-show="isOpen"
          @click.away=" isOpen = false">
          <div class="flex flex-col space-y-3">
            <a href="{{ .Site.BaseURL }}" class="font-bold text-base text-white">Home</a>
            <a href="{{ .Site.BaseURL }}/news" class="font-bold text-base text-white">Post</a>
            <a href="{{ .Site.BaseURL }}/post" class="font-bold text-base text-white">Members</a>
            <a href="{{ .Site.BaseURL }}/gallery" class="font-bold text-base text-white">Gallery</a>
          </div>
        </div>
    </div>
</div>
</div>
