@tailwind base;
@tailwind components;
@tailwind utilities;

.chroma {
  @apply px-2 py-2 my-2 overflow-auto rounded-lg;
}

img {
  @apply block w-auto h-auto m-auto;
}
table {
  @apply border-dark border-2;
}
thead {
  @apply text-center;
}
th {
  @apply border-dark border-2 px-2;
}
td {
  @apply border-dark border-2 px-2;
}
a {
  @apply text-dark hover:font-bold hover:text-blue-700;
}

h1 {
  @apply text-4xl font-bold text-dark;
}

h2 {
  @apply font-semibold text-2xl text-dark;
}

h3 {
  @apply font-semibold text-xl text-dark;
}

p {
  @apply text-dark text-base;
}

iframe[sandbox]:not([sandbox=""]) {
    display: none !important;
}
